mahjong/client/html/index.html
<html><head><meta charset="UTF-8"/><link rel="stylesheet" href="../css/style.css"/><script src="../js/tilemap.js"></script><script src="../js/client.js"></script></head><body><div id="table"><div id="seat_0" class="pane seat"><div class="wind">Wind:<span></span></div><div class="name">Player:<span></span></div><div class="tiles"><div class="discards"></div><div class="melds"></div><div class="hand"></div></div></div><div id="seat_1" class="pane seat"><div class="wind">Wind:<span></span></div><div class="name">Player:<span></span></div><div class="tiles"><div class="discards"></div><div class="melds"></div><div class="hand"></div></div></div><div id="seat_2" class="pane seat"><div class="wind">Wind:<span></span></div><div class="name">Player:<span></span></div><div class="tiles"><div class="discards"></div><div class="melds"></div><div class="hand"></div></div></div><div id="seat_3" class="pane seat"><div class="wind">Wind:<span></span></div><div class="name">Player:<span></span></div><div class="tiles"><div class="discards"></div><div class="melds"></div><div class="hand"></div></div></div></div><div id="chat" class="pane"><textarea id="chatHistory"></textarea><form id="chatInput"><input id="chatInputText" type="text"/><input type="submit" value="Send"/></form></div><div id="log" class="pane"><textarea id="logHistory"></textarea></div></body></html>

mahjong/client/jade/index.jade
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="../css/style.css")
        script(src="../js/tilemap.js")
        script(src="../js/client.js")
    body
        #table
            .pane.seat#seat_0
                .wind Wind:
                    span
                .name Player:
                    span
                .tiles
                    .discards
                    .melds
                    .hand

            .pane.seat#seat_1
                .wind Wind:
                    span
                .name Player:
                    span
                .tiles
                    .discards
                    .melds
                    .hand

            .pane.seat#seat_2
                .wind Wind:
                    span
                .name Player:
                    span
                .tiles
                    .discards
                    .melds
                    .hand

            .pane.seat#seat_3
                .wind Wind:
                    span
                .name Player:
                    span
                .tiles
                    .discards
                    .melds
                    .hand

        .pane#chat
            textarea#chatHistory
            form#chatInput
                input#chatInputText(type="text")
                input(type="submit", value="Send")

        .pane#log
            textarea#logHistory
